<?xml version='1.0' encoding='utf-8'?>
<configuration>
  <connectionStrings>
    <add name='MiniErpSettings'
         connectionString='Data source=localhost;
         Initial Catalog=atosUfn;
         TrustServerCertificate=True;
         Integrated security=True;
         User ID=rafael;
         password=abc123;
         language=Portuguese'/>
  </connectionStrings>
</configuration>